@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Oswald&display=swap");
/* line 1, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/_estructura.scss */
body {
  background-color: #97ccce;
}

/* line 9, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
body {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  background-color: white;
  box-sizing: border-box;
}

/* line 16, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
header {
  align-items: center;
  margin: 0 15%;
}

/* line 21, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
nav {
  font-size: 20px;
  display: inline;
  text-align: center;
  margin: 0 10%;
  background-color: white;
}

/* line 29, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.bg-body-tertiary {
  background-color: white;
}

/* line 34, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
li {
  display: inline;
  list-style: none;
  font-family: cursive;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 5px;
}

/* line 43, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
a:link {
  text-decoration: none;
}

/* line 47, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
a:hover {
  color: #86d9e4;
}

/* line 51, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
h1 {
  color: #f3be92;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

/* line 59, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
h2 {
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  color: #707097;
}

/* line 65, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.pri-img {
  display: flex;
  margin: 0 25%;
  height: 600px;
  width: 600px;
}

/* line 72, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.primer-parrafo {
  padding-top: 10px;
  margin: 0 3% 1rem 3%;
}

/* line 77, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.tex-first {
  background-color: #e5e5e5;
}

/* line 81, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.claz {
  font-size: 17px;
  padding-top: 20px;
}

/* line 86, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.destac {
  text-align: center;
  margin-top: 55px;
}

/* line 91, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.modelos-perros {
  display: flex;
  justify-content: space-between;
  margin: 5% 5%;
}

/* line 97, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.repiten {
  height: 200px;
  width: 200px;
  display: inline;
  position: relative;
}

/* line 104, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.tipo-de-perro {
  padding-left: 50px;
  margin-top: 40px;
}

/* line 109, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.title-animation {
  -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-15 17:23:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* line 159, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
footer {
  display: flex;
  flex-direction: column;
  margin: 8% 10% 3%;
  padding-bottom: 10px;
}

/* line 166, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.sect-foot {
  display: flex;
  justify-content: space-around;
  background-color: #d9c590;
}

/* line 172, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.foot-izq {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

/* line 178, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
h4 {
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
}

/* line 184, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.icon-red {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 190, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.icon-hijo {
  align-items: center;
  margin-left: 5px;
  margin-top: 5px;
}

/* line 196, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.num-bajar {
  padding-top: 12px;
}

/* line 200, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
h3 {
  font-size: 12px;
  text-align: center;
  padding-top: 60px;
}

/* line 206, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.padre-mueve-3-divs {
  display: flex;
  justify-content: space-evenly;
}

/* line 211, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.hijos-con-contenido-a-mover {
  margin: 0 8%;
  align-items: center;
  padding-top: 20px;
}

/* line 217, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.text-cortes {
  margin-top: 16px;
  width: 200px;
}

/* line 222, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.banner-prod {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* line 228, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.parraf-tiend {
  margin: 4% 8%;
  background-color: #e5e5e5;
}

/* line 233, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.loli-caniche {
  margin: 5% 15%;
}

/* line 237, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.lol-titu {
  margin: 5% 15%;
}

/* line 241, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.centrar-boton {
  display: flex;
  justify-content: center;
}

/* line 246, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.boton-ver-mas {
  margin-top: 20px;
  text-align: center;
  color: blue;
  background-color: #97ccce;
  border-radius: 3px;
  border-color: blue;
}

/* line 255, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.otros-prod {
  margin-top: 20px;
  text-align: center;
  color: blue;
  background-color: #97ccce;
  border-radius: 3px;
  border-color: blue;
}

/* line 264, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.cards-achicar {
  height: 260px;
  width: 450px;
  margin: 0 5%;
}

/* line 270, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.lolainspi {
  padding-top: 5px;
  font-size: 'Comfortaa', cursive;
  margin-left: 5%;
  margin-top: 5px;
  background-color: #e5e5e5;
}

/* line 278, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.hist-cp {
  margin: 4% 8%;
  background-color: #e5e5e5;
}

/* line 283, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
legend {
  float: none;
  margin: 0% 5%;
}

/* line 288, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
form {
  width: 70%;
  margin: 0 10%;
}

/* line 293, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.padre-formulario {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  font-size: 15px;
}

/* line 300, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.hijo-formulario {
  border-radius: 5px grey;
}

/* line 304, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.campos-juntos {
  flex-direction: row;
  width: 50%;
  font-size: 15px;
  display: flex;
  padding-top: 25px;
}

/* line 312, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.email {
  display: flex;
  flex-direction: column;
  width: 42%;
}

/* line 318, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.phone {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 42%;
}

/* line 325, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.bot-form {
  margin-left: 20px;
  margin-top: 40px;
  border-radius: 3px #6d6767;
  color: grey;
}

@media only screen and (max-width: 480px) {
  /* line 333, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  body {
    font-size: 10px;
  }
  /* line 337, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  header {
    flex-direction: column;
  }
  /* line 340, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  nav {
    padding-left: 15px;
    font-size: 16px;
  }
  /* line 345, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  h1 {
    font-size: 25px;
  }
  /* line 349, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .pri-img {
    width: 250px;
    height: 250px;
    padding-left: auto;
  }
  /* line 356, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .modelos-perros {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  /* line 362, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .repiten {
    flex-direction: column;
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-left: 5px;
    padding-top: 10px;
  }
  /* line 371, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .destac {
    margin-top: 5px;
  }
  /* line 375, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-mueve-3-divs {
    flex-direction: column;
    margin: 0 15%;
  }
  /* line 380, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-con-contenido-a-mover {
    flex-direction: column;
    align-items: center;
  }
  /* line 385, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .text-cortes {
    width: 100%;
    font-size: 12px;
  }
  /* line 390, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .tipo-de-perro {
    font-size: 20px;
  }
  /* line 394, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .logo-perru {
    height: 80px;
    width: 80px;
  }
  /* line 399, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  legend {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 406, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .bot-form {
    font-size: 13px;
    width: 20%;
    padding: 0;
  }
  /* line 412, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .campos-juntos {
    flex-direction: column;
  }
  /* line 416, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-formulario {
    font-size: 13px;
    width: 100%;
  }
  /* line 421, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijo-formulario {
    margin-left: 4px;
    width: 100%;
  }
  /* line 426, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .campos-juntos {
    width: 100%;
  }
  /* line 430, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .email {
    width: 100%;
  }
  /* line 434, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .phone {
    width: 100%;
    margin-top: 10px;
  }
  /* line 439, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .primer-parrafo {
    text-align: center;
    margin: 0 5%;
    padding: 3% 5%;
  }
  /* line 445, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .tex-first {
    text-align: center;
  }
  /* line 449, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .boton-ver-mas {
    text-align: center;
  }
  /* line 453, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-del-padre {
    width: 100%;
  }
  /* line 457, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  footer {
    text-align: center;
    margin-top: 40px;
  }
  /* line 462, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .icon-hijo img {
    height: 20px;
    width: 20px;
  }
  /* line 467, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .redes-soc h4 {
    font-size: 12px;
  }
  /* line 471, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .num-bajar {
    padding-top: 2px;
  }
  /* line 475, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .sub-tit {
    padding-top: 2px;
  }
  /* line 479, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .banner-prod {
    margin: auto;
    width: 50%;
  }
  /* line 484, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .cards-achicar {
    width: 70%;
    height: auto;
  }
  /* line 489, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .card-cepillo {
    display: flex;
    justify-content: center;
  }
  /* line 494, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .img-lola {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 502, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  nav {
    font-size: 15px;
  }
  /* line 506, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  li a {
    display: inline;
  }
  /* line 510, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-mueve-3-divs {
    flex-direction: column;
  }
  /* line 515, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-con-contenido-a-mover {
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-top: 15px;
    flex-wrap: wrap;
  }
  /* line 523, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .text-cortes {
    font-size: 12px;
  }
  /* line 527, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .tipo-de-perro {
    font-size: 20px;
  }
  /* line 531, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-del-padre {
    width: 50%;
  }
  /* line 535, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  legend {
    margin-left: 5px;
  }
  /* line 539, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-formulario {
    width: 82%;
    padding-top: 20px;
    margin-left: 10px;
  }
  /* line 545, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .campos-juntos {
    width: 94%;
    margin-left: 8px;
  }
  /* line 550, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijo-formulario {
    width: 100%;
  }
  /* line 554, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .email {
    width: 40%;
  }
  /* line 558, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .phone {
    width: 40%;
    margin-left: 35px;
  }
  /* line 563, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .modelos-perros {
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
  }
  /* line 569, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .repiten {
    margin: 5% 10%;
    height: 120px;
    width: 120px;
  }
  /* line 575, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .banner-prod {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
  }
  /* line 582, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .cards-achicar {
    width: 70%;
    height: auto;
  }
  /* line 587, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .card-superior {
    display: flex;
    justify-content: center;
  }
  /* line 592, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .logo-perru {
    height: 90px;
    width: 90px;
  }
  /* line 597, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .pri-img {
    width: 350px;
    height: 350px;
    padding-left: auto;
  }
  /* line 603, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .primer-parrafo {
    width: 80%;
    margin-left: 50px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 611, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  h1 {
    font-size: 30px;
  }
  /* line 615, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-con-contenido-a-mover {
    width: 33,33%;
  }
  /* line 619, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-formulario {
    font-size: 16px;
  }
  /* line 623, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijo-formulario {
    width: 90%;
  }
  /* line 627, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .campos-juntos {
    font-size: 16px;
    width: 100%;
  }
  /* line 632, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .phone {
    margin-left: 40px;
  }
  /* line 637, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .repiten {
    height: 150px;
    height: 150px;
    margin-top: 15px;
    margin-left: 2px;
    padding-left: 5px;
  }
  /* line 645, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .bot-form {
    font-size: 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */