@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Oswald&display=swap");
/* line 1, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/_estructura.scss */
body {
  background-color: #97ccce;
}

/* line 9, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
body {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  background-color: white;
  box-sizing: border-box;
}

/* line 16, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
header {
  align-items: center;
  margin: 0 15%;
}

/* line 21, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
nav {
  font-size: 20px;
  display: inline;
  text-align: center;
  margin: 0 10%;
  background-color: white;
}

/* line 30, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
li {
  display: inline;
  list-style: none;
  font-family: cursive;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 5px;
}

/* line 39, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
a:link {
  text-decoration: none;
}

/* line 43, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
a:hover {
  color: #86d9e4;
}

/* line 47, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
h1 {
  color: #f3be92;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

/* line 55, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
h2 {
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  color: #707097;
}

/* line 61, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.pri-img {
  display: flex;
  margin: 0 25%;
  height: 600px;
  width: 600px;
}

/* line 68, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.primer-parrafo {
  padding-top: 10px;
  margin: auto;
}

/* line 73, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.tex-first {
  background-color: #e5e5e5;
}

/* line 77, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.claz {
  font-size: 17px;
  padding-top: 20px;
}

/* line 82, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.destac {
  text-align: center;
  margin-top: 55px;
}

/* line 87, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.modelos-perros {
  display: flex;
  justify-content: space-between;
  margin: 5% 5%;
}

/* line 93, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.repiten {
  height: 200px;
  width: 200px;
  display: inline;
  position: relative;
}

/* line 100, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.tipo-de-perro {
  padding-left: 50px;
  margin-top: 40px;
}

/* line 105, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.title-animation {
  -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-15 17:23:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* line 155, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
footer {
  display: flex;
  flex-direction: column;
  margin: 8% 10% 3%;
  padding-bottom: 10px;
}

/* line 162, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.sect-foot {
  display: flex;
  justify-content: space-around;
  background-color: #d9c590;
}

/* line 168, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.foot-izq {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

/* line 174, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
h4 {
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
}

/* line 180, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.icon-red {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 186, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.icon-hijo {
  align-items: center;
  margin-left: 5px;
  margin-top: 5px;
}

/* line 192, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.num-bajar {
  padding-top: 12px;
}

/* line 196, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
h3 {
  font-size: 12px;
  text-align: center;
  padding-top: 60px;
}

/* line 202, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.padre-mueve-3-divs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* line 208, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.hijos-con-contenido-a-mover {
  align-items: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* line 218, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.text-cortes {
  margin-top: 3px;
  width: 200px;
}

/* line 223, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.banner-prod {
  display: flex;
  width: 45%;
  margin: 5px auto;
}

/* line 230, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.parraf-tiend {
  margin: 4% 8%;
  background-color: #e5e5e5;
}

/* line 235, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.loli-caniche {
  margin: 5% 15%;
}

/* line 239, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.lol-titu {
  margin: 5% 15%;
}

/* line 243, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.centrar-boton {
  display: flex;
  justify-content: center;
}

/* line 248, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.boton-ver-mas {
  margin-top: 20px;
  text-align: center;
  color: blue;
  background-color: #97ccce;
  border-radius: 3px;
  border-color: blue;
}

/* line 257, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.otros-prod {
  margin-top: 20px;
  text-align: center;
  color: blue;
  background-color: #97ccce;
  border-radius: 3px;
  border-color: blue;
}

/* line 266, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.cards-achicar {
  height: 260px;
  width: 450px;
  margin: 0 5%;
}

/* line 272, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.lolainspi {
  padding-top: 5px;
  font-size: 'Comfortaa', cursive;
  margin-left: 5%;
  margin-top: 5px;
  background-color: #e5e5e5;
}

/* line 280, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.hist-cp {
  margin: 4% 8%;
  background-color: #e5e5e5;
}

/* line 285, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
legend {
  float: none;
  margin: 0% 5%;
}

/* line 290, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
form {
  width: 70%;
  margin: 0 10%;
}

/* line 295, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.padre-formulario {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  font-size: 15px;
}

/* line 302, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.hijo-formulario {
  border: 1px solid #c0b4b4;
  border-radius: 7px;
}

/* line 307, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.campos-juntos {
  flex-direction: row;
  width: 50%;
  font-size: 15px;
  display: flex;
  padding-top: 25px;
}

/* line 315, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.email {
  display: flex;
  flex-direction: column;
  width: 42%;
}

/* line 321, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.phone {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 42%;
}

/* line 328, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
input {
  border: 1px solid #c0b4b4;
  border-radius: 7px;
}

/* line 333, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
label {
  color: #dfb134;
}

/* line 337, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.textar {
  color: #dfb134;
}

/* line 341, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.bot-form {
  margin-left: 20px;
  margin-top: 40px;
  border: 2px solid grey;
  border-radius: 10px;
  color: grey;
  font-size: small;
}

@media only screen and (max-width: 480px) {
  /* line 351, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  body {
    font-size: 10px;
  }
  /* line 355, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  header {
    flex-direction: column;
  }
  /* line 358, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  nav {
    padding-left: 15px;
    font-size: 16px;
  }
  /* line 363, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  h1 {
    font-size: 25px;
  }
  /* line 367, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .pri-img {
    width: 250px;
    height: 250px;
    padding-left: auto;
  }
  /* line 373, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .modelos-perros {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 380, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .repiten {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-left: 50px;
    padding-top: 10px;
  }
  /* line 391, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .destac {
    margin-top: 5px;
  }
  /* line 395, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-mueve-3-divs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  /* line 403, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-con-contenido-a-mover {
    align-items: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  /* line 410, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .text-cortes {
    width: 200px;
    font-size: 12px;
  }
  /* line 415, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .tipo-de-perro {
    font-size: 20px;
  }
  /* line 419, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .logo-perru {
    height: 80px;
    width: 80px;
  }
  /* line 424, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  legend {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 431, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .bot-form {
    font-size: 13px;
    width: 20%;
    padding: 0;
  }
  /* line 437, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .campos-juntos {
    flex-direction: column;
  }
  /* line 441, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-formulario {
    font-size: 13px;
    width: 100%;
  }
  /* line 446, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijo-formulario {
    margin-left: 4px;
    width: 100%;
  }
  /* line 451, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .campos-juntos {
    width: 100%;
  }
  /* line 455, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .email {
    width: 100%;
  }
  /* line 459, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .phone {
    width: 100%;
    margin-top: 10px;
  }
  /* line 464, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .primer-parrafo {
    text-align: center;
    margin: 0 5%;
    padding: 3% 5%;
  }
  /* line 470, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .tex-first {
    text-align: center;
  }
  /* line 474, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .boton-ver-mas {
    text-align: center;
  }
  /* line 478, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-del-padre {
    width: 100%;
  }
  /* line 482, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  footer {
    text-align: center;
    margin-top: 40px;
  }
  /* line 487, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .icon-hijo img {
    height: 20px;
    width: 20px;
  }
  /* line 492, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .redes-soc h4 {
    font-size: 12px;
  }
  /* line 496, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .num-bajar {
    padding-top: 2px;
  }
  /* line 500, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .sub-tit {
    padding-top: 2px;
  }
  /* line 504, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .cards-achicar {
    width: 70%;
    height: auto;
  }
  /* line 509, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .card-cepillo {
    display: flex;
    justify-content: center;
  }
  /* line 514, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .img-lola {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 522, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  nav {
    font-size: 15px;
  }
  /* line 526, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  li a {
    display: inline;
  }
  /* line 530, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-mueve-3-divs {
    display: flex;
    justify-content: space-evenly;
  }
  /* line 536, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-con-contenido-a-mover {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  /* line 544, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .text-cortes {
    width: 200px;
    font-size: 12px;
  }
  /* line 549, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .tipo-de-perro {
    font-size: 20px;
  }
  /* line 553, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-del-padre {
    width: 50%;
  }
  /* line 557, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  legend {
    margin-left: 5px;
  }
  /* line 561, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-formulario {
    width: 82%;
    padding-top: 20px;
    margin-left: 10px;
  }
  /* line 567, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .campos-juntos {
    width: 94%;
    margin-left: 8px;
  }
  /* line 572, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijo-formulario {
    width: 100%;
  }
  /* line 576, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .email {
    width: 40%;
  }
  /* line 580, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .phone {
    width: 40%;
    margin-left: 35px;
  }
  /* line 586, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .modelos-perros {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-top: 5px;
  }
  /* line 594, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .repiten {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 123px;
    width: 123px;
    padding-top: 5px;
  }
  /* line 605, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .cards-achicar {
    width: 70%;
    height: auto;
  }
  /* line 610, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .card-superior {
    display: flex;
    justify-content: center;
  }
  /* line 615, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .logo-perru {
    height: 90px;
    width: 90px;
  }
  /* line 620, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .pri-img {
    width: 350px;
    height: 350px;
    padding-left: auto;
  }
  /* line 626, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .primer-parrafo {
    width: 80%;
    margin-left: 50px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 634, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  h1 {
    font-size: 30px;
  }
  /* line 639, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-formulario {
    font-size: 16px;
  }
  /* line 643, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijo-formulario {
    width: 90%;
  }
  /* line 647, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .campos-juntos {
    font-size: 16px;
    width: 100%;
  }
  /* line 652, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .phone {
    margin-left: 40px;
  }
  /* line 657, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .repiten {
    height: 150px;
    height: 150px;
    margin-top: 15px;
    margin-left: 2px;
    padding-left: 5px;
  }
  /* line 665, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .bot-form {
    font-size: 20px;
  }
  /* line 669, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .primer-parrafo {
    width: 70%;
  }
}

/*# sourceMappingURL=estilos.css.map */