@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Oswald&display=swap");
/* line 1, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/_estructura.scss */
body {
  background-color: #97ccce;
}

/* line 9, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
body {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  background-color: white;
  box-sizing: border-box;
}

/* line 16, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
header {
  align-items: center;
  margin: 0 15%;
}

/* line 21, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
nav {
  font-size: 20px;
  display: inline;
  text-align: center;
  margin: 0 10%;
  background-color: white;
}

/* line 29, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.bg-body-tertiary {
  background-color: white;
}

/* line 35, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
li {
  display: inline;
  list-style: none;
  font-family: cursive;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 5px;
}

/* line 44, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
a:link {
  text-decoration: none;
}

/* line 48, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
a:hover {
  color: #86d9e4;
}

/* line 53, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
h1 {
  color: #f3be92;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

/* line 61, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
h2 {
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  color: #707097;
}

/* line 67, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.pri-img {
  display: flex;
  justify-content: center;
}

/* line 72, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.primer-parrafo {
  padding-top: 10px;
  margin: 0 3% 1rem 3%;
}

/* line 77, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.tex-first {
  background-color: #e5e5e5;
}

/* line 81, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.claz {
  font-size: 17px;
  padding-top: 20px;
}

/* line 86, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.destac {
  text-align: center;
  margin-top: 55px;
}

/* line 91, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.modelos-perros {
  display: flex;
  justify-content: space-between;
  margin: 5% 5%;
}

/* line 97, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.repiten {
  height: 200px;
  width: 200px;
  display: inline;
  position: relative;
}

/* line 104, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.tipo-de-perro {
  padding-left: 50px;
  margin-top: 40px;
}

/* line 109, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.title-animation {
  -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-15 17:23:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* line 159, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
footer {
  display: flex;
  flex-direction: column;
  margin: 8% 10% 3%;
  padding-bottom: 10px;
}

/* line 166, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.sect-foot {
  display: flex;
  justify-content: space-around;
  background-color: #d9c590;
}

/* line 172, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.foot-izq {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

/* line 178, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
h4 {
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
}

/* line 184, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.icon-red {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 190, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.icon-hijo {
  align-items: center;
  margin-left: 5px;
  margin-top: 5px;
}

/* line 196, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.num-bajar {
  padding-top: 12px;
}

/* line 200, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
h3 {
  font-size: 12px;
  text-align: center;
  padding-top: 60px;
}

/* line 206, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.padre-mueve-3-divs {
  display: flex;
  justify-content: space-evenly;
}

/* line 212, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.hijos-con-contenido-a-mover {
  margin: 0 8%;
  align-items: center;
  padding-top: 20px;
}

/* line 218, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.text-cortes {
  margin-top: 16px;
  width: 200px;
}

/* line 223, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.banner-prod {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* line 229, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.parraf-tiend {
  margin: 4% 8%;
  background-color: #e5e5e5;
}

/* line 234, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.loli-caniche {
  margin: 5% 15%;
}

/* line 238, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.lol-titu {
  margin: 5% 15%;
}

/* line 242, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.centrar-boton {
  display: flex;
  justify-content: center;
}

/* line 247, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.boton-ver-mas {
  margin-top: 20px;
  text-align: center;
  color: blue;
  background-color: #97ccce;
  border-radius: 3px;
  border-color: blue;
}

/* line 256, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.otros-prod {
  margin-top: 20px;
  text-align: center;
  color: blue;
  background-color: #97ccce;
  border-radius: 3px;
  border-color: blue;
}

/* line 265, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.cards-achicar {
  height: 260px;
  width: 450px;
  margin: 0 5%;
}

/* line 271, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.lolainspi {
  padding-top: 20px;
  font-size: 'Comfortaa', cursive;
  margin-left: 5%;
}

/* line 277, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.hist-cp {
  margin: 4% 8%;
}

/* line 281, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
legend {
  float: none;
  margin: 0% 5%;
}

/* line 286, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.padre-formulario {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  font-size: 15px;
}

/* line 293, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.hijo-formulario {
  border-radius: 3px grey;
  width: 50%;
}

/* line 298, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.campos-juntos {
  display: flex;
}

/* line 303, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
.bot-form {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 17px;
  border-radius: 3px grey;
  color: grey;
}

@media only screen and (max-width: 480px) {
  /* line 312, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  body {
    font-size: 10px;
  }
  /* line 316, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  header {
    flex-direction: column;
  }
  /* line 319, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  nav {
    padding-left: 15px;
    font-size: 16px;
  }
  /* line 324, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  h1 {
    font-size: 22px;
  }
  /* line 328, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .pri-img {
    flex-direction: column;
    margin-left: 2px;
  }
  /* line 333, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .modelos-perros {
    flex-direction: column;
    align-items: center;
  }
  /* line 338, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .repiten {
    flex-direction: column;
    height: 100px;
    width: 100px;
    margin-top: 15px;
  }
  /* line 345, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .destac {
    margin-top: 5px;
  }
  /* line 349, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-mueve-3-divs {
    flex-direction: column;
    margin: 0 15%;
  }
  /* line 354, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-con-contenido-a-mover {
    flex-direction: column;
    align-items: center;
  }
  /* line 359, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .text-cortes {
    width: 100%;
    font-size: 12px;
  }
  /* line 364, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .tipo-de-perro {
    font-size: 20px;
  }
  /* line 368, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .logo-perru {
    height: 80px;
    width: 80px;
  }
  /* line 374, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  legend {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 15%;
  }
  /* line 382, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .bot-form {
    width: 20%;
  }
  /* line 386, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .campos-juntos {
    flex-direction: column;
  }
  /* line 390, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-formulario {
    font-size: 13px;
  }
  /* line 394, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijo-formulario {
    margin-left: 4px;
    width: 30%;
  }
  /* line 399, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .primerparrafo {
    margin: 0 15%;
  }
  /* line 403, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .boton-ver-mas {
    text-align: center;
  }
  /* line 407, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-del-padre {
    width: 100%;
  }
  /* line 411, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  footer {
    text-align: center;
    margin-top: 40px;
  }
  /* line 416, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .icon-hijo img {
    height: 20px;
    width: 20px;
  }
  /* line 421, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .redes-soc h4 {
    font-size: 12px;
  }
  /* line 425, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .num-bajar {
    padding-top: 2px;
  }
  /* line 429, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .sub-tit {
    padding-top: 2px;
  }
  /* line 433, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .banner-prod {
    margin: 0 2%;
    width: 70%;
  }
  /* line 438, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .cards-achicar {
    width: 70%;
    height: 500px;
  }
  /* line 443, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .card-cepillo {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
  /* line 449, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .img-lola {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 457, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  nav {
    font-size: 15px;
  }
  /* line 461, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  li a {
    display: inline;
  }
  /* line 465, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-mueve-3-divs {
    flex-direction: column;
  }
  /* line 470, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-con-contenido-a-mover {
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-top: 15px;
  }
  /* line 477, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .text-cortes {
    font-size: 12px;
  }
  /* line 481, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .tipo-de-perro {
    font-size: 20px;
  }
  /* line 485, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-del-padre {
    width: 50%;
  }
  /* line 489, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  legend {
    margin-left: 5px;
  }
  /* line 493, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-formulario {
    width: 50%;
    padding-top: 20px;
  }
  /* line 499, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .campos-juntos hijo-formulario {
    width: 40%;
  }
  /* line 504, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijo-formulario {
    width: 100%;
  }
  /* line 508, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .modelos-perros {
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
  }
  /* line 514, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .repiten {
    margin: 5% 10%;
    height: 120px;
    width: 120px;
  }
}

@media only screen and (min-width: 769px) {
  /* line 522, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .hijos-con-contenido-a-mover {
    width: 33,33%;
  }
  /* line 526, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .padre-formulario {
    width: 100%;
  }
  /* line 530, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .modelos-perros {
    width: 33,33%;
  }
  /* line 534, ../../CODERHOUSE - DESARROLLO WEB/Mi proyecto/scss/estilos.scss */
  .repiten {
    margin-top: 15px;
  }
}

/*# sourceMappingURL=estilos.css.map */